<!DOCTYPE html>
<html>

    <head>
        <title>tango_with_django</title>
		{%load staticfiles%}
        <style>
		  body {
			background-color:#CCC;
		  }
		  h1 {
			color:#0099FF;
			background-color:#FFF;
			border-radius:5px;
			text-align:center;
		  }
		  p {
			color:#000;
			text-align:center;
		  }
		  a {
			text-align:center;
		  }
		  
		</style>
    </head>

    <body>
        <h1>ULTRON SAYS...</h1>
        <p>{{ txt_labelTwo }}<strong><a href="/rango/"><br />GO HOME IRONMAN</a></strong><p>
        <img src="{% static "images/ultron.jpg" %}" alt="Picture of Rango" /> <!-- New line -->
    </body>

</html>