<!DOCTYPE html>
<html>

    <head>
        <title>tango_with_django</title>
		{%load staticfiles%}
        <style>
		  body {
			background-color:#CCC;
		  }
		  h1 {
			color:#0099FF;
			background-color:#FFF;
			border-radius:5px;
			text-align:center;
		  }
		  p {
			color:#000;
			text-align:center;
		  }
		  a {
			text-align:center;
		  }
		  
		</style>
    </head>

    <body>
        <h1>ABOUT US</h1>
        <p>{{ about_us }}<strong><a href="/rango/"><br /> HOME </a></strong><p>
        <img width="300px" height="300px" src="{% static "images/twd.jpg" %}" alt="Picture of Rango" /> <!-- New line -->
    </body>

</html>