<!DOCTYPE html>
<html>

    <head>
        <title>tango_with_django</title>
		{%load staticfiles%}
        <style>
		  body {
			background-color:#DCDCDC;
		  }
		  h1 {
            width:500px;
			color:#0099FF;
			background-color:#FFF;
			border-radius:5px;
			text-align:left;
            padding:5px;
            padding-left:10px
		  }
		  p {
			color:#000;
			text-align:left;
		  }
		  a {
			text-align:left;
		  }

		</style>
    </head>

    <body>
        <h1>RANGO SAYS...</h1>
        <p>Get to know <strong><a href="/rango/about/">About Us</a></strong><br />
        <!-- <img src="{% static "images/ironman.jpg" %}" alt="Picture of Rango" /><p> -->

        <h1> CATEGORIES </h1>
        {% if categories %}
            <ul>
                {% for category in categories %}
                <!-- Following line changed to add an HTML hyperlink -->
                <li><a href="/rango/category/{{ category.slug }}">{{ category.name }}</a></li>
                {% endfor %}
            </ul>
        {% else %}
            <strong>There are no categories present.</strong>
        {% endif %}
        <br />

        <h1> PAGES </h1>
        {% if pages %}
            <ul>
                {% for page in pages %}
                    <li><a href="{{ page.url }}">{{ page.title }}</a></li>
                {% endfor %}
            </ul>
        {% else %}
            <strong>There are no pages present.</strong>
        {% endif %}

        <br />
        <p></p>
    </body>

</html>