<!DOCTYPE html>
<html>

    <head>
        <title>tango_with_django</title>
		{%load staticfiles%}
        <style>
		  body {
			background-color:#CCC;
		  }
		  h1 {
			color:#0099FF;
			background-color:#FFF;
			border-radius:5px;
			text-align:center;
		  }
		  p {
			color:#000;
			text-align:center;
		  }
		  a {
			text-align:center;
		  }

          ul {
              text-align: center;
          }
		</style>
    </head>

    <body>
        <h1>IRONMAN SAYS...</h1>
        <p>Never Click <strong><a href="/rango/about/">HERE</a></strong><br />
        <img src="{% static "images/ironman.jpg" %}" alt="Picture of Rango" /><p>
        {% if categories %}
                <ul>
                    {% for category in categories %}
                    <li>{{ category.name }}</li>
                    {% endfor %}
                </ul>
            {% else %}
                <p><strong>There are no categories present.</strong></p>
            {% endif %}
    </body>

</html>